#sidebar {
  background: #5a9c8c;
  position: fixed;
  left: 5%;
  height: 60%;
  top: 5%;
  border-radius:5px;
  
}

#postamble {
  background:rgb(10, 124, 112);
  border-top:solid 10px #5a9c8c;
}

.title {
  color: rgb(10, 124, 112);
}

.subtitle {
  color: rgb(10, 124, 112);
}

h1,  h3, h4, h5, h6, legend {
  color: #5a9c8c;

}

h2{
    color:white;
    text-align: center;
}
#content h2 {
    background-color: rgb(10, 124, 112);
}
#content{
    max-width:1000px;

}
html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}